# Backend API base URL (Spring Boot)
VITE_API_URL=http://localhost:8080/api

# Stripe publishable key (from Stripe dashboard → Developers → API keys)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TOW6PIUnDkoVRVHHIrRSPoKVfYWZt9gIPZkoIi5gKe8FTrKgFmzAdcwOV6sfh5Sa9ejzU7j1fXUEafSZWlyff4m00eYHVYj84
